{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to My App</h1>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>
                User List
            </h2>
            <p>
                {% if users|length == 0 %}
                    No user atm.
                {% else %}
                    <ul>
                    {% for user in users %}
                        <li>{{ user.firstName }} {{ user.lastName }} ({{ user.email.toString() }}) <small>Created at: {{ user.createdAt.format('Y-m-d H:i:s') }}</small></li>
                    {% endfor %}
                    </ul>
                {% endif %}

            </p>
        </div>
        <div class="col-md-12" style="border-top:1px solid #eee;padding-top:20px;">
            <h3>
                New User
            </h3>

                <form method="post" action="{{ absolute_url('/users/add') }}">
                    <div class="form-group">
                        <label>First Name
                        <input type="text" name="first_name" class="form-control" placeholder="Enter user's first name" aria-describedby="firstNameHelp" required >
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Last Name
                            <input type="text" name="last_name" class="form-control" placeholder="Enter user's last name" aria-describedby="lastNameHelp" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Email
                            <input type="email" name="email" class="form-control" placeholder="Enter user's email" aria-describedby="emailHelp" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        </div>
    </div>


{% endblock %}
